* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  scroll-behavior: smooth;
  scroll-margin-top: 1.2rem;
}
.carousel-item h1 {
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 80px;
}
span {
  color: #000000;
}
/* .row{
    background-color: red;
} */

.navbar-toggler {
  background-color: #fff;
}

.d-md-block {
  display: block !important;
}

.col-sm {
  background-color: red;
  width: 400px;
  height: 200px;
}
.thumb1 {
  padding: 30px 0;
  width: 100%;
  height: 600px;
  flex-basis: 40%;
}
.row {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
}
.text-col {
  flex-basis: 50%;
  position: relative;
  left: 40px;
}
.row .text-col h2 {
  color: #033b4a;
}
/* .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 100%;
    min-height: 100vh;
    background-color: #5691d5;
    background: linear-gradient(282deg,#009dff 0%, #54bdff);
}
.box{
    max-width: 500px;
    background: #fff;
    padding: 30px;
    width: 100%;
    border-radius: 5px;
}
.upload-area-title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}
.uploadlabel{
    width: 100%;
    min-height: 100px;
    background-color: #18a7ff0d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px dashed #01D6A3;
    cursor: pointer;
}
.uploadlabel span{
    font-size: 70px;
    color: #01D6A3;
}
.uploadlabel p{
    color: #01D6A3;
    font-size: 20px;
    font-weight: 800;
    font-family: cursive;
}
.uploaded{
    margin: 30px 0;
    font-size: 16px;
    font-weight: 700;
    color: #a5a5a5;
}
.showfilebox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px 15px;
    box-shadow: #0000000d 0px 0px 0px 1px, #d1d5db3d 0px 0px 0px 1px inset;
}
.showfilebox .left{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:10px
}
.filetype{
    background-color: #01D6A3;
    color: #fff;
    padding: 5px 15px;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
    border-radius: 3px;
}
.left h3{
    font-weight: 600;
    font-size: 18px;
    color: #292f42;
    margin: 0;
}
.right span{
    background-color: #01D6A3;
    color: #fff;
    width: 25px;
    height: 25px;
    font-size: 25px;
    line-height: 25px;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    border-radius: 50%;
} */
.file-upload {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1fb264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824b;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1aa059;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all 0.2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #1fb264;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #1fb264;
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #15824b;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all 0.2s ease;
}

.heading span {
  color: #1fb264;
}

@media screen and (max-width: 610px) {
  .file-upload {
    width: 100%;
  }
  .row {
    display: block;
  }
}
@media (max-width: 768px) {
  .heading h1 {
    font-size: 40px;
  }
}
@media (max-width: 590px) {
  .heading h1 {
    font-size: 30px;
  }
}

@media (max-width: 992px) {
  .thumb1 {
    flex-basis: 100%;
    height: 100%;
    padding-left: 40px;
  }
  .text-col {
    flex-basis: 100%;
    width: 100%;
  }
}
/* .thumb1 {
  position: fixed;
} */

.h2 {
  font-size: 1.25rem;
}